<div id="page_top" class="section-body top_dark">
    <div class="container-fluid">
        <div class="page-header">
            <div class="left">

            </div>

            <div class="right">

                <div class="notification d-flex">
                    <div class="dropdown d-flex" dropdown>
                        <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1" href="javascript:void(0);" data-toggle="dropdown"
                            role="button" aria-haspopup="true" aria-expanded="false" id="button-basic" dropdownToggle aria-controls="dropdown-basic"
                            style="color: #fff;box-shadow: none;">
                            <i class="fa fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" id="dropdown-basic" *dropdownMenu role="menu" aria-labelledby="button-basic">
                            <a class="dropdown-item" [routerLink]="['/profile']" href="javascript:void(0)">
                                <i class="dropdown-icon fe fe-user"></i>
                                Profile</a>
                            <a class="dropdown-item" [routerLink]="['/settings']" href="javascript:void(0)">
                                <i class="dropdown-icon fe fe-settings"></i> Settings</a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <span class="float-right">
                                    <span class="badge badge-primary">6</span>
                                </span>
                                <i class="dropdown-icon fe fe-mail"></i> Inbox</a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="dropdown-icon fe fe-send"></i>
                                Message</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="dropdown-icon fe fe-help-circle"></i> Need help?</a>
                            <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">
                                <i class="dropdown-icon fe fe-log-out"></i> Sign out
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>