<div id="header_top" class="header_top">
    <div class="container">
        <div class="hright">
            <div class="dropdown">
                <!-- <a href="javascript:void(0)" class="nav-link icon theme_btn"><i class="fa fa-paint-brush"
                            data-toggle="tooltip" data-placement="right" title="Themes"></i></a> -->
                <a href="javascript:void(0)" class="nav-link user_btn" (click)="toggleUserMenu()">
                    <img class="avatar" src="../assets/images/user.png" alt="" data-toggle="tooltip"
                        data-placement="right" title="User Menu" />
                </a>
                <a href="javascript:void(0)" (click)="toggleMenu()" class="nav-link icon menu_toggle">
                    <i class="fa  fa-align-left"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="user_div">
    <h5 class="brand-name mb-4">HRVITE
        <a href="javascript:void(0)" (click)="toggleUserMenu()" class="user_btn">
            <i class="icon-logout"></i>
        </a>
    </h5>
    <div class="card">
        <div class="card-body">
            <div class="media">
                <img class="avatar avatar-xl mr-3" src="../assets/images/sm/avatar1.jpg" alt="avatar">
                <div class="media-body">
                    <h5 class="m-0">Sara Hopkins</h5>
                    <p class="text-muted mb-0">Webdeveloper</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="left-sidebar" class="sidebar ">
    <h5 class="brand-name">HRVITE
        <!-- <a href="javascript:void(0)" class="menu_option float-right"><i
                    class="icon-grid font-16" data-toggle="tooltip" data-placement="left"
                    title="Grid & List Toggle"></i></a> -->
    </h5>
    <nav id="left-sidebar-nav" class="sidebar-nav">
        <ul class="metismenu">
            <li class="g_heading">Directories</li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="userType == 1">
                <a href="javascript:void(0)" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                    aria-controls="collapseBasic" class="has-arrow arrow-c">
                    <i class="icon-rocket"></i>
                    <span>Master</span>
                </a>
                <ul class="collapse" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/dashboard']" href="javascript:void(0)">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/department']" href="javascript:void(0)">
                            <span>Department</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/company']" href="javascript:void(0)">
                            <span>Company</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/gstcode']" href="javascript:void(0)">
                            <span>GST State Code</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/sac-code']" href="javascript:void(0)">
                            <span>SAC Code</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/university']" href="javascript:void(0)">
                            <span>University</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/customer-type']" href="javascript:void(0)">
                            <span>Customer Type</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/industry']" href="javascript:void(0)">
                            <span>Industry</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/candidate-status']" href="javascript:void(0)">
                            <span>Candidate Status</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/leave-type']" href="javascript:void(0)">
                            <span>Leave Type</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/tax-excemption']" href="javascript:void(0)">
                            <span>Tax Excemption</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/skill']" href="javascript:void(0)">
                            <span>Skill</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/customer']" href="javascript:void(0)">
                            <span>Customer</span>
                        </a>
                    </li>
                    <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/master/email-template']" href="javascript:void(0)">
                            <span>Email Template</span>
                        </a>
                    </li> -->
                </ul>
            </li>

            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="userType == 2">
                <a href="javascript:void(0)" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                    aria-controls="collapseBasic" class="has-arrow arrow-c">
                    <i class="icon-rocket"></i>
                    <span>Settings</span>
                </a>
                <ul class="collapse" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings']" href="javascript:void(0)">
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings/department']" href="javascript:void(0)">
                            <span>Department</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings/attendance-management']"
                            href="javascript:void(0)">
                            <span>Attendance Management</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings/leave-management']"
                            href="javascript:void(0)">
                            <span>Leave Management</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings/holiday']" href="javascript:void(0)">
                            <span>Holidays</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings/notice-period']"
                            href="javascript:void(0)">
                            <span>Notice Period</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings/payroll']" href="javascript:void(0)">
                            <span>Payroll Calculation</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings/payslip-breakups']"
                            href="javascript:void(0)">
                            <span>Payslip Breakups</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings/salary-breakups']"
                            href="javascript:void(0)">
                            <span>Salary Breakups</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings/statutory']" href="javascript:void(0)">
                            <span>Statutory</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings/ta-management']"
                            href="javascript:void(0)">
                            <span>TA Management</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings/designation']" href="javascript:void(0)">
                            <span>Designation's</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/settings/emp-id']" href="javascript:void(0)">
                            <span>Emp Id Management</span>
                        </a>
                    </li>
                    <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="submenu" [routerLink]="['/customer/clients/list']" href="javascript:void(0)">
                            <span>Clients</span>
                        </a>
                    </li> -->
                    <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="submenu" [routerLink]="['/master/email-template']" href="javascript:void(0)">
                        <span>Email Template</span>
                    </a>
                </li> -->
                </ul>
            </li>

            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="userType == 2">
                <a [routerLinkActive]="['active']"  [routerLink]="['/customer/clients/list']" 
                   class="has-arrow arrow-c">
                    <i class="icon-briefcase"></i>
                    <span>Clients</span>
                </a>
           </li>
           <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="userType == 2">
            <a [routerLinkActive]="['active']"  [routerLink]="['/customer/projects/list']" 
               class="has-arrow arrow-c">
                <i class="icon-briefcase"></i>
                <span>Projects</span>
            </a>
       </li>

        </ul>
    </nav>
</div>