<br />

<div class="section-body">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <div class="header-action">
                <!-- <button type="button" class="btn btn-primary" (click)="addDept()">
                    <i class="fe fe-plus mr-2"></i>Add</button> -->
            </div>
        </div>
    </div>
</div>

<div class="section-body mt-3">
    <div class="container-fluid">
        <div class=" mt-3">
            <div class="" id="Departments-list" role="tabpanel">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card menu">
                            <div class="link " [routerLink]="['/customer/settings']">
                                <span class="text">Profile Settings</span>
                            </div>
                            <div class="link " [routerLink]="['/customer/settings/department']">
                                <span class="text">Department</span>
                            </div>
                            <div class="link active" [routerLink]="['/customer/settings/attendance-management']">
                                <span class="text">Attendance Management</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/leave-management']">
                                <span class="text">Leave Management</span>
                            </div>
                            <div class="link " [routerLink]="['/customer/settings/holiday']">
                                <span class="text">Holidays</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/notice-period']">
                                <span class="text">Notice Period</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/payroll']">
                                <span class="text">Payroll Calculation</span>
                            </div>
                            <div class="link " [routerLink]="['/customer/settings/payslip-breakups']">
                                <span class="text">Payslip Breakups</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/salary-breakups']">
                                <span class="text">Salary Breakups</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/statutory']">
                                <span class="text">Statutory</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/ta-management']">
                                <span class="text">TA Management</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/designation']">
                                <span class="text">Designaton's</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/emp-id']">
                                <span class="text">Emp Id Management</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Attendance Management</h3>
                                <div class="card-options">
                                    <form>
                                        <div class="input-group">
                                            <!-- <input type="text" class="form-control form-control-sm"
                                                [(ngModel)]="searchKey" (input)="getList(searchKey, 1)"
                                                placeholder="Search something..." name="s"> -->
                                            <!-- <span class="input-group-btn ml-2">
                                                <button class="btn btn-icon" (click)="getList(searchKey)" type="submit">
                                                    <span class="fe fe-search"></span>
                                                </button>
                                            </span> -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="example-form" [formGroup]="forms">
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Auto Logout As Shift Timing</mat-label>
                                                <mat-select formControlName="autoLogout">
                                                    <mat-option value="1">Yes</mat-option>
                                                    <mat-option value="0">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Auto Leave - Absent not Applied</mat-label>
                                                <mat-select formControlName="autoBreak">
                                                    <mat-option value="1">Yes</mat-option>
                                                    <mat-option value="0">No</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Working Days in a week</mat-label>
                                                <mat-select formControlName="weekWorkingDays">
                                                    <mat-option value="5">5 Days</mat-option>
                                                    <mat-option value="6">6 Days</mat-option>
                                                    <mat-option value="7">7 Days</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Half day hours</mat-label>
                                                <mat-select formControlName="halfDayHours">
                                                    <mat-option value="4">4 Hours</mat-option>
                                                    <mat-option value="5">5 Hours</mat-option>
                                                    <mat-option value="6">6 Hours</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Mandatory Working Hours</mat-label>
                                                <mat-select formControlName="workingHours">
                                                    <mat-option value="7">7 Hours</mat-option>
                                                    <mat-option value="8">8 Hours</mat-option>
                                                    <mat-option value="9">9 Hours</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>LOP / Absent Hours</mat-label>
                                                <mat-select formControlName="lopHours">
                                                    <mat-option value="2">2 Hours</mat-option>
                                                    <mat-option value="3">3 Hours</mat-option>
                                                    <mat-option value="4">4 Hours</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <h3 class="card-title">Shift Deatails <span (click)="addShift()"
                                            class="float-right"><i class="fa fa-plus-circle"
                                                aria-hidden="true"></i></span></h3>
                                    <div class="row clearfix" *ngFor="let shift of shiftDetails">
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input [(ngModel)]="shift.name" [ngModelOptions]="{standalone: true}"
                                                    matInput placeholder="Name">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input [(ngModel)]="shift.startTime"
                                                    [ngModelOptions]="{standalone: true}" matInput
                                                    placeholder="Start Time">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input [(ngModel)]="shift.endTime" [ngModelOptions]="{standalone: true}"
                                                    matInput placeholder="End Time">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </form>
                                <button type="button" class="btn btn-primary float-right" (click)="add()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>