/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.float-right {
    float: right;
}
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-toolbar.mat-primary, .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    
    background: #2196F3;
  } 


  .mat-form-field-flex {
    padding: 4px !important;
  }

  .mat-form-field-infix {
    padding: 2px !important;

  }



.inline .mat-slide-toggle-label {
  margin-top: 18px !important;
}

.table-responsive th {

  text-transform: capitalize !important;
  font-weight: bold !important;
}
