<br />

<div class="section-body">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <div class="header-action">
                <button type="button" class="btn btn-primary" (click)="addDept()">
                    <i class="fe fe-plus mr-2"></i>Add</button>
            </div>
        </div>
    </div>
</div>

<div class="section-body mt-3">
    <div class="container-fluid">
        <div class=" mt-3">
            <div class="" id="Departments-list" role="tabpanel">
                <div class="row">
                    <div class="col-md-3">

                        <div class="card menu">
                            <div class="link " [routerLink]="['/customer/settings']">
                                <span class="text">Profile Settings</span>
                            </div>
                            <div class="link " [routerLink]="['/customer/settings/department']">
                                <span class="text">Department</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/attendance-management']">
                                <span class="text">Attendance Management</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/leave-management']">
                                <span class="text">Leave Management</span>
                            </div>
                            <div class="link active" [routerLink]="['/customer/settings/holiday']">
                                <span class="text">Holidays</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/notice-period']">
                                <span class="text">Notice Period</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/payroll']">
                                <span class="text">Payroll Calculation</span>
                            </div>
                            <div class="link " [routerLink]="['/customer/settings/payslip-breakups']">
                                <span class="text">Payslip Breakups</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/salary-breakups']">
                                <span class="text">Salary Breakups</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/statutory']">
                                <span class="text">Statutory</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/ta-management']">
                                <span class="text">TA Management</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/designation']">
                                <span class="text">Designaton's</span>
                            </div>
                            <div class="link" [routerLink]="['/customer/settings/emp-id']">
                                <span class="text">Emp Id Management</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card ">
                            <div class="card-header">
                                <h2 class="card-title">Leave Management</h2>
                                <div class="card-options">
                                    <button class="btn btn-primary" (click)="export()">Export</button>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-striped table-vcenter table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>From</th>
                                                <th>To</th>
                                                <th>Type</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of lists?.rows">
                                                <td>
                                                    <div class="font-15">{{data?.title}}</div>
                                                </td>
                                                <td>
                                                    <div class="font-15">{{data?.dateFrom | date}}</div>
                                                </td>
                                                <td>
                                                    <div class="font-15">{{data?.dateTo | date}}</div>
                                                </td>
                                                <td>
                                                    <span *ngIf="data.type == 'p'">Public Holiday</span>
                                                    <span *ngIf="data.type == 'o'">Optional</span>
                                                </td>
                                                <td>
                                                    <button type="button" (click)="edit(data)" class="btn btn-icon"
                                                        title="Edit">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" (click)="delete(data.id)" class="btn btn-icon"
                                                        title="Delete">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<ng-template #template>
    <h5 class="modal-title" id="forms">Holiday</h5>
    <br />
    <form class="example-form" [formGroup]="forms">
        <div class="row clearfix">
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="title" placeholder="Title">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Pay Calculated Date To</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="dateFrom">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Pay Calculated Date To</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateTo">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4">
                <mat-form-field appearance="fill">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option value="p">Public Holiday</mat-option>
                        <mat-option value="o">Optional</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
    <button mat-raised-button class="float-right" (click)="add()" color="primary">Save</button>
</ng-template>